@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap");

header,
.bg-table {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  background: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  width: 60%;
  margin: 2px auto;
}

header {
  background-color: #c6386917;
  text-align: center;
  padding: 10px 0;
}

header > img {
  width: 150px;
  height: auto;
}

.name {
  color: #c63869;
}

.salary {
  color: #63c3f3;
}

.age {
  color: #57b4ab;
}

thead,
th,
td {
  padding: 10px;
  text-align: center;
}

thead > tr  {
    font-size: 20px;
}
.bg-table{
    font-size: 16px;
}

th, td {
  width: 33% ;
}

td {
    font-weight: 200;
}

@media (min-width: 320px) and (max-width: 768px) {
    thead > tr  {
        font-size: 17px;
    }
    .bg-table{
        font-size: 14px;
    }
    header, .bg-table{
        width: 100%;
    }
}